# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / Colab checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Distribution / packaging
build/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# VSCode / IDE files
.vscode/
.idea/

# Testing / Coverage
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Other
*.log
